@charset "utf-8";

//color
$color-black: #2a2e2f;

// z-index
$zindex-top: 500;
$zindex-important: 300;
$zindex-fixed: 100;
$zindex-normal: 10;

// path
$path-image: '../images/';
$path-font: '../fonts/';
